.sidebar{
    position: fixed;
    transition: all 0.5s;
    transform: translateX(-35rem);
    width: 35rem;
    background-color: #f0f0f0;
    height: 100%;
  }
  
  .sidebar-cats {
    /* padding-left: 2rem; */
  
  }
   .sidebar-cats > h3 {
    margin-top: 4rem;
    margin-bottom: 0rem;
    padding-left: 2rem;
  }
  
  
  .sidebar > .welcome > a {
  
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 1rem;
    margin-right:1.5rem;
    margin-top:2.5rem;
  }
  
  .sidebar > .welcome > i{
  
    margin-top:1.8rem;
  }
  
  .sidebar.open{
    transform: translateX(0);
  }
  
  .sidebar-close-button{
    border-radius: 50%;
    border: .1rem #000000 solid;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 2rem;
    padding-top: 0;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem
  }