.welcomeMessage {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.cardIcon {
    padding: 6rem;
    max-height: 300px;
    width: auto;
}



@media only screen and (max-width: 600px) {
    .welcomeMessage {
     text-align: center;
    }

    .cardIcon {
        padding: 4rem;
        max-height: 180px;
        width: auto;
    }
  }