
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    min-height: 4rem;
    border-bottom: 2px solid rgba(0,0,0, 0.2);
    padding: 0rem 12vw;

  }
  
  .logoImage {
    max-height: 6rem;
    width: auto;
    border: solid white 1px;
    border-radius: 4px;

  }
  
  .logoImage:hover {
    border: solid navy 1px;
  }
  
  .menu {
    color: #5da0f3;
    font-size: 3rem;
 
  }
  
  .menu:hover {
    color: navy
  }
  